body{
    display: flex;
}
.left {
    background-color: #ffffff;
    width: 926px;
    height: 1080px;
    display: inline-block;
    font-family: 'Rowdies';
    box-sizing: border-box;
}
.heading_container{
    width: 716px;
    height: 128px;
    display: inline-block;
    margin: 131px 0 0 105px;
    color: #FE3B1F;
    line-height: 79.49px;
    font-size: 64px;
    font-family: 'Rowdies';
}
.right {
    width: 994px;
    height: 1080px;
    box-sizing: border-box;
    font-family: 'Rowdies';
    background-color: #0C0D0E;
   
}
.heading_container2{
    width: 716px;
    height: 94px;
    display: inline-block;
    margin: 131px 114px 0 177px;
    color: #FE3B1F;
    line-height: 79.49px;
    font-size: 64px;
    font-family: 'Rowdies';
}